- content_for :head do
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='44961064-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
  
%h1 HSL Selector
#hsl
  #color
  %br
  %label{:for => "h"} h
  %input{:id => "hi", :type => "range", :min => "0", :max => "365", :value => "0", :data => {:alt => "ht"}}
    %input{:id => "ht", :class=> "txt", :type => "text", :value => "0", :data => {:alt => "hi"}}
  %br
  %canvas{:id => "hcan", :width => "200", :height => "35"}
  %br

  %label{:for => "s"} s
  %input{:id => "si", :type => "range", :min => "0", :max => "100", :value => "100", :data => {:alt => "st"}}
  %input{:id => "st", :class=> "txt", :type => "text", :value => "100", :data => {:alt => "si"}}
  %br
  %canvas{:id => "scan", :width => "200", :height => "35"}
  %br

  %label{:for => "l"} l
  %input{:id => "li", :type => "range", :min => "0", :max => "100", :value => "50", :data => {:alt => "lt"}}
  %input{:id => "lt", :class=> "txt", :type => "text", :value => "50", :data => {:alt => "li"}}
  %br
  %canvas{:id => "lcan", :width => "200", :height => "35"}

  #stringval
